body {
    font-size: 20px;
    text-align: justify;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 25px;
}
table {
    margin: auto;
    background-color: white;
}
.colorred {
    color: red;
}
.colorblue {
    color: blue
}
a {
    color: blue;
}
.link1 {
    color: brown;
}
.link2 {
    color: blueviolet;
}

p {
font-size: 20px;
}